@font-face {
  font-family: 'Yekan Bakh';
  src: url('./YekanBakh-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Yekan Bakh';
  src: url('./YekanBakh-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Yekan Bakh';
  src: url('./YekanBakh-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Yekan Bakh';
  src: url('./YekanBakh-Fat.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Yekan Bakh';
  src: url('./YekanBakh-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* فقط Yekan Bakh برای کل سایت */
body, * {
  font-family: 'Yekan Bakh' !important;
}
